html,
body {
  margin: 10px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.syntax {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: auto;
}

.lcms {
  width: 70%;
}

.routing {
  display: flex;
  border: 2px dashed black;
  justify-content: center;
  align-items: center;
}
.heading {
  display: flex;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.Nav {
 margin: 10px;
 padding: 10px;
}

.isActive {
  color: brown;
}
button {
  padding: 0.6%;
  margin: 0.5%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background-color: dodgerblue;
}
input {
  padding: 1%;
  margin: 1%;
  border-radius: 25px;
}